body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maze-control-panel{
    margin:20px auto;
}

#maze-control-panel div{
    margin-bottom: 20px;
    text-align: center;
}

.rectangle {
    float: left;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid black;
    font-family: 'Glyphicons Halflings';
    background: url('../images/sprite.png') no-repeat center;
    background-position: -1000px;
}

.rectangle.wall {
    background: cornflowerblue;
}

.rectangle.unavailable {
    background: darkred;
}

.rectangle.start {
    background-position: 5px -218px!important;
}

.rectangle.finish {
    background-position: -45px -218px;
}

.rectangle.top {
    background-position: 12px 4px;
}

.rectangle.bottom {
    background-position: -21px 4px;
}

.rectangle.right {
    background-position: -62px -25px;
}

.rectangle.left {
    background-position: -62px 7px;
}

.rectangle.horizontal_top-right{
    background-position: -51px -62px;
}

.rectangle.horizontal_top-left{
    background-position: 5px -97px;
}

.rectangle.horizontal_bottom-left{
    background-position: 7px -173px;
}

.rectangle.horizontal_bottom-right{
    background-position: 7px -133px;
}

.rectangle.vertical_bottom-left{
    background-position: -52px -175px;
}

.rectangle.vertical_bottom-right{
    background-position: -51px -135px;
}

.rectangle.vertical_top-left{
    background-position: -51px -94px;
}

.rectangle.vertical_top-right{
    background-position: -23px -35px;
}

.rectangle.active {
    background: lightgray;
}

.rectangle.path {
    background-color: palevioletred;
}

.clearfix{
    clear: both;
}